/*selecionando colores para o o site*/
:root{
    --preto-primario:rgb(32,32,32);
    
    --branco-primario:#fff;

    --bege-primario:rgb(233,229,217);
    --bege-secundario:rgb(196,192,181);

    --marrom-primario:rgb(81,36,0);
    --marrom-secundario:rgb(217,114,50);

    --amarelo-secundario:rgb(232,167,68);
}
/*fontes a serem utilizadas*/
@font-face{
    font-family: "Slabo";
    src:url(../fonts/Slabo.ttf);

}
@font-face{
    font-family: "Acme";
    src:url(../fonts/Acme.ttf);

}
/*header*/

.inicio{
    background-color: var(--preto-primario);
    background-image:url(../img/brafe.png);
    background-repeat: no-repeat;
    background-size: 90px;

    background-position-x: 23%;
    background-position-y: 15px;
    height: 60px;
    width: 100%;
}
.inicio nav{
    position: relative;
    text-align: right;
    top: -5px;
    font-size: 1em;
}
nav ul{
    position: relative;
    
}
nav a{
    color:var(--branco-primario);
    text-decoration: none;
    padding-bottom:25px;
    width: 25px;
    transition: 1s;
}
nav ul li{
    position: relative;
    width:70px;
    height: 20px;
    text-align: center;
    font-family: "Slabo";
    top:25px;
    display:inline-block;   
}
nav ul li:hover::after{
    width:100%;
    transition: 0.3s;
}
nav ul li::after{
    content: "";
    display: block;
    width:0%;
    left:0%;
    transition: 0.3s;    
    height: 4px;
    background-color: #DDDDDD;
}
/*fim do header*/
/*criando o local da frase principal*/

.titulo{
    background-image: url(../img/bg-intro.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width:100%;
    height: 40vw;
    text-align:center;
    color: var(--branco-primario);
    font-family: Georgia, serif;
    text-transform: uppercase
}
.titulo h1{
    position: relative;
    font-size: 2em;
    top: 20%;   
}
section.titulo div{
    height: 1.5%;
    width:3%;
    position: relative;
    background: #FFFFFF;
    top:23%;
    left: 50%;
    transform: translate(-50%,0)
}
section.titulo p{
    position:relative; 
    margin-top: 15%;
    font-family: 'Slabo';
}



/*titulo terminado*/

/*corpo*/
.corpo{
    
    height: 100px;
    width: 100%;

}
.corpo h2{
    position: relative;
    text-align: center;
    font-size: 2em;
    font-family: Georgia,serif;
    font-weight: bolder;
    margin-bottom: 20px;
}

.corpo p{
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.75em;
    position: relative;
    top:-60px;
    width: 50%;
    margin:0 auto;
}
.container{
    border:1px solid #DDDDDD;
    width: 300px;
    height: 250px;
    border: none;
    position: relative;
    left: 20%;
}
.tag{
    float: left;
    position: relative;
    left:-20%;
    
    top:107%;
    width: 100px;
    text-align: center;
    font-size: 0.6em;
    z-index: 1000;
    background-color: var(--preto-primario);
    padding:5px;
    color: #FFFFFF;
    
}

.corpo .container img{
    position: relative;
    left:-20%;
    width: 100%;
    height: 100%;
}
div#segundo{
    position: relative;
    top:-250px;
    left: 70%;
}


/*centro*/


.centro{
    background-color: var(--bege-primario);
    height: 600px;
    width: 100%;
    position: relative;
    top: 700px;
    margin-bottom: 10px;
}

.fora{
    width: 150px;
    height: 150px;
    border:solid 10px var(--marrom-primario); 
    border-radius:100%;
    position: relative;
    
    left:50%;
    transform: translate(-50%,0);

}
.dentro{
    width: 90%;
    height: 90%;
    background-color: var(--marrom-primario);
    border-radius: 100%;
    transform:translate(5%,5%);
}
div#meio{
    border:solid 10px var(--marrom-secundario);
    
    margin-top:-175px;
    
    top:-150px;
    
    top:13%;
}
div#meio  .dentro{
    background-color: var(--marrom-secundario);
}
div#ultimo{
    border:solid 10px var(--amarelo-secundario);
    margin-top: -165px;
   
}
div#ultimo .dentro{

    background-color: var(--amarelo-secundario);
}
div.paulista{
    width:27%;
    top:10%;
    position: absolute;
    left:15%;
}
div#central{
    
    top:39%;
    left:45%;
}
div#final{
    top:37%;
    left:73%;
}
.centro h3{
    text-align: center;
    font-size: 2em;
    
    position: relative;
    top: 20%;
    font-weight: bold;
}
.centro p{
    width: 100%;
    
    padding-top: 10%;
        
    font-size: 1.1em;
    text-align: center;
    text-indent: 0px;
}
.botao{
    text-transform: uppercase;
    position: absolute;
    font-weight: 800;
    left:58%;
    width: 20%;
    top:85%;
    height: 10%;;
    font-size: 1em;
    transform: translate(-50%,-50%);
    border: solid 3px var(--preto-primario);
    padding: 20px;
    transition: 0.3s;
}
.botao:hover{
    background-color: black;
    color:white;
    transition: 0.3s;
}
/*terminando a parte central*/
/* parte inferior */
section.inferior{
    position: relative;
    top:800px;
    height: 1400px;
    width: 100%;
}
.inferior img{
    width:50%;
    padding-left: 35px;   
}
.inferior div{
    width: 100%;
    height: 20%;
    position: relative;
    margin-bottom: 20%;
    
}
.inferior  div h2{
    font-size: 2.25em;
    font-weight: 600;
    position: absolute;
    top: 0%;
    left:55%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.inferior p{
    width: 500px;
    text-align: left;
    position: absolute;
    top:20%;
    font-size: 1.125em;
    left:55%;

}
.inferior .botao{
    position: absolute;
    top:70%;
    height: 20%;
    transform: translate(0,-100%);
    left:55%;
}
/*parte infeiror terminado*/
/*rodapé*/
footer{
    position: relative;
    top:100vh;
    margin-top: 100px;
    width: 100%;
    
    height: 300px;

}
footer div.cima{
    background-color: var(--bege-primario);
    position: relative;
    height:150px;
}
.cima h2{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 2.00em;
    font-weight: 50%;
}
.cima h3{
    padding-left:20px;
    font-size: 1.15em;
    height: 40px;
}
form{
    position: relative;
    left: 47%;
    top:-31%
}
form input{
    width: 35%;
    border: solid var(--preto-primario) 2px;
    font-size: 1.35em;
    padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    height:36px;
   
}
form button{
    height:42px;
    top:0px;
    margin-left: -7px;
    position: relative;
    
    width: 120px;
    padding: 0px 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: var(--preto-primario);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid var(--preto-primario) 2px;
    font-size: 1.35em;
    transition: 0.3s;

}
form button:hover{
    color: var(--preto-primario);
    background-color: #DDDDDD;
    transition: 0.3s;
}
footer .baixo{
    height: 150px;
    background-color: var(--bege-secundario);
}
.baixo p{
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top:30%;
    left:15%
}
.baixo div{
    width: 170px;
    position: relative;
    background-image: url(../img/brafe.png);
    background-repeat: no-repeat;
    left:75%;
    top:1%;
    background-size:  170px;
    height: 70px;
}
/*adaptaçoes necessarias para outros tamanho de tela
ja tinha feito aalguns em cima*/
/* para 975 */
@media(max-width:975px){

    .baixo{
        padding:40px 0 100px 0;

    }
    .baixo p{
        position: relative;
        margin-top: -7%;
        margin-bottom: 9%;
        width: 70%;
    }
    .baixo div{
        left:50%;
        margin-top: 15%;
        transform: translate(-50%,0);
    }
}


/* para 720 */
@media(max-width: 720px){

    .inicio nav{
        position: relative;
        top: 21px;
        text-align: center;        
    }
    .inicio{
        background-position-x: 50%;
        height: 70px;
    }
    .corpo h2{
        font-size: 1.5em;
        }
        .titulo h1{
            position: relative;
            top: 10px;
        }
        .titulo p{
            position: relative;
            top: 20px;
        }
        .titulo{
            height: 40vh;
        }
    .titulo h1{
        font-size: 1.75em;
        top:15%;
    }
    .titulo p{
        top:-3%;
        font-size: 0.7em;
    }
    section.titulo div{
        position: relative;
        top:17%;
    }
    .corpo .container{
        position: relative;
        transform: translate(-25%,0);
        left:50%;
    }
    .corpo .container#segundo{
        margin-top: 10%;
        top:100%;
        left:50%;
    }
    
    .tag{
        left:25%;
        transform: translate(-50%,0);
    }
    .container {
        width:80%;
    }
    .corpo p{
        top:55%;
        margin-top: 25%;
        width: 80%;
    }
    .centro{
        margin-top: 45%;
        padding-bottom: 1000px;
    }
    .centro .paulista{
        transform: translate(-50%,0);
        left:50%;
        
        top:10%;
        width:40%;
    }
    .centro .paulista p{
        width: 100%;
        transform: translate(-50%,0);
        
        margin-left: 50%;
        
    }
    .centro div#central{
        position: relative;
        top:95%;
        margin-left: 5%;
    }
    .centro div#final{
        left:50%;
        top:70%;
    }
    .centro .botao{
        width:50%;
        height: 5%;
        top:95%;
    }
    .inferior{
        height: 800px;
    }
    .inferior div{
        margin-bottom:500px;
    }
    
    .inferior img{
        width: 80%;
    } 
    .inferior div h2{
        transform: translate(-50%,0);
        left:50%;
        top:130%;
    }
    .inferior div p{
        transform: translate(-50%,0);
        left:50%;
        top:150%;
        width:80%;
    }
    .inferior .botao{
        transform: translate(-50%,0);
        left:50%;
        top:200%;
        width:35%;
        height: 20%;
        font-size: 1em;
    }

    footer{
        position: relative;
        top:1500px;
        margin-top:40%;
    }
    footer .cima{
        padding:80px 0 100px 0;
    }
    footer div.cima h2{
        left:50%;
        top:-20%;
        position: relative;
        width: 60%;
        transform: translate(-50%,0);
    }
    footer div.cima h3{
        left:50%;
        top:-20%;
        margin: 10px 0;
        position: relative;
        width: 60%;
        transform: translate(-50%,0);
    }
    form{
        top:-50%;
        left:50%;
        transform: translate(-28.2%,0);
        margin-top: 80px;
    }
    form button{
        
        left:-36.6%;
        top:45px
        
    }
}
/* para 360 */
@media(max-width: 360px){
    .titulo h1{
        font-size: 1.25em;
        
    }
    .titulo{
        height: 20vh;
    }
    .header nav ul li{
        padding: 0 5%;
    }

}
body {
    overflow-x: hidden;
    }